//Bootstrap
link(rel='stylesheet' href="/plugins/bootstrap-4.0.0/css/bootstrap.css")

//navbar
link(rel='stylesheet' href="/css/navbar-top-fixed.css")

//estilos Anderson
link(rel='stylesheet' href="/css/style.css")
link(rel='stylesheet' href="/css/styleBurbuja.css")

//own styles
link(rel='stylesheet' href="/css/app.css")



