html
    head
        title Simulator of Tree

        //Semantic Ui
        link(rel='stylesheet' href="/plugins/Semantic-UI-2.2/semantic.css")

        //own styles
        link(rel='stylesheet' href="/css/app.css")



    body
        .ui.container
            .ui.padded.grid
                .sixteen.wide.center.aligned.column
                    h1(class='ui blue header') this is index
                    



        //JQuery
        script(src="/plugins/JQuery/jquery-3.2.1.js")

        
        //Semantic Ui
        script(src="/plugins/Semantic-UI-2.2/semantic.js")

        
